name: Cache Demo

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create data to cache
        run: echo "cached-data" > cache-file.txt

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: cache-file.txt
          key: cache-0e2314c

      - name: prime-cache-0e2314c
        id: prime-cache-0e2314c
        run: echo "Cache hit status: ${{ steps.cache-step.outputs.cache-hit }}"
